.form{
    text-align: center;
    border: none;
    width: 400px;
    margin-left: 30%;
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
color: white;
    padding-bottom: 20px;
}

button{
    background-color: lightgreen;
 
    padding: 0px 100px;
   
}

h2{
    text-decoration: underline;
    padding-bottom: 20px;
}

h4{
    text-decoration: underline;
}

.input{
    padding-left: 10px;
}

.gender{
     text-align: center;
     justify-content: center;
}
